<style>
    .footer{
  background: black;
  color:white;

  .links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  }
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);}

  .container{
      .freepik {
      color: white;
  }
  .freepik:hover{
      color: blue;
  }
  }

}
</style>

<div class="mt-5 pt-5 pb-5 footer">
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-xs-12 about-company" style="padding: 25px">
      <h2>Guardian AI</h2>
      <p class="pr-5 text-white-50">If you want to contribute to the project please head over to the GitHub repo linked below or get in touch by email. </p>
      <p><a href="https://github.com/rajveerbeerda/Home-Buying.git"><i class="fa fa-github-square" style="font-size: 2.73em; color: white"></i></a></p>
    </div>
    <div class="col-lg-6 col-xs-12 location" style="padding: 25px">
      <h4 class="mt-lg-0 mt-sm-4">Conceptualized and developed at:</h4>
      <p class="pr-5 text-white-50">Bennett University<br>Greater Noida, India</p>
        <p><a href="mailto:ms5323@bennett.edu.in" title="Contact Us" class="footer-email" style="color: white"><i class="fa fa-envelope-o mr-3"></i>Contact Us</a></p>
    </div>
  </div>
    <p class="pr-5 text-white-50">Pictures by <a href="https://www.freepik.com/" class="freepik"><b style="color:white;">Freepik</b></a></p>
</div>
</div>