
      <section class="info_section layout_padding-top">
        <div class="info_logo-box">
          <h2>
              MindHug<sup>&reg;</sup>
          </h2>
        </div>
          <div class="container layout_padding2">
            <div class="row">
              <div class="col-md-3">
                <h5>
                    Location
                </h5>
               <p>MindHug
               <br>
               UCL BaseKX,
               <br>
               103c Camley Street,
               <br>
               London N1C 4PF</p>
               <p class="footer_link"><a href="mailto:&#104;&#101;&#108;&#108;&#111;&#64;&#109;&#105;&#110;&#100;&#104;&#117;&#103;&#46;&#105;&#111;" title="MindHug Email">Send us an e-mail</a></p>
              </div>
              <div class="col-md-3">
                <h5>
                    Quick Links
                </h5>
                <ul>
                  <li>
                    <a href="/partnerships">
                        Partnerships
                    </a>
                  </li>
                  <li>
                   <a href="/therapists">
                      Therapists
                   </a>
                  </li>
                  <li>
                    <a href="https://medium.com/mymindhug">
                        Blog/Research
                    </a>
                  </li>
                  <li>
                    <a href="https://www.eventbrite.com/o/mindhug-29549779583">
                        Event/Tickets
                    </a>
                  </li>
                  <li>
                    <a href="/contact-us">
                        Contact Us
                    </a>
                  </li>
                  <li>
                    <a href="https://www.prevent-suicide.org.uk/find-help-now/">
                        Crisis Contacts
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <h5>
                    Careers
                </h5>
                <p>
                    Are you passionate about working with an exciting startup, looking to change how mental wellbeing is perceived and approached?
                </p>
                  <div class="form_container">
                      <button type="submit" onClick="window.location='/careers';">
                        See Jobs
                      </button>
                  </div>
              </div>
              <div class="col-md-3">
                <div id="signupnow" class="subscribe_container">
                  <h5>
                      Newsletter
                  </h5>
                  <div class="form_container">
                    <form method="post" id="myForm1" target="votar">
                      <input type="email" class="form-control" name="sub_email1" placeholder="Enter your email" oninvalid="this.setCustomValidity('Please enter a valid email address')" oninput="this.setCustomValidity('')" required>

                      <label class="mindhug_validation">
                        <input type="checkbox" checked="checked" id="field_terms1" oninvalid="this.setCustomValidity('Please check the box to continue!')" oninput="this.setCustomValidity('')" required>

                        <span>I agree to MindHug’s <a href="/privacy-policy" target="_blank" class="footer_link">Privacy Policy</a>.</span>
              
                        <span class="mindhug_checkmark"></span>
                      </label>

                      <button type="submit" onclick="myFunction1()" name="subscribe_btn" value="subscribe_btn1" id="subscribe_btn">
                        Subscribe
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
              <div class="social_container">
                  <div class="social-box" id="socialconnect">
                    <a href="https://www.facebook.com/mymindhug/">
                      <i class="fa fa-facebook-square fa-2x" alt="Facebook"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/mindhug">
                      <i class="fa fa-linkedin-square fa-2x" alt="LinkedIn"></i>
                    </a>
                    <a href="https://instagram.com/mymindhug?igshid=5vhb6th1p1p8">
                      <i class="fa fa-instagram fa-2x" alt="Instagram"></i>
                    </a>
                    <a href="https://twitter.com/mymindhug?s=08">
                      <i class="fa fa-twitter-square fa-2x" alt="Twitter"></i>
                    </a>
                    <a href="https://medium.com/mymindhug">
                      <i class="fa fa-medium fa-2x" alt="Medium"></i>
                    </a>
                  </div>
                </div>
          </div>

          <!-- The Modal -->
          <div class="modal fade" id="myModal">
              <div class="modal-dialog modal-dialog-centered" >
                  <div class="modal-content">
                      <div class="modal-body">
                          <font style="font-size: 20px">Thank you for subscribing.</font>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="closeModal()">Close</button>
                      </div>
                  </div>
              </div>
          </div>

        </section>

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2020 MindHug<sup class="sup_footer">&reg;</sup>, Ltd. All Rights Reserved. Company Registration Number: 12293600.
    </p>
  </section>
  <!-- footer section -->
