{% extends 'layout.html' %}

{% block metatags %}
<meta charset="utf-8" />

<!-- Mobile Metas -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1" /> -->
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

<meta name="description" content="About Us">
{% endblock %}

{% block title %}About Us{% endblock %}

{% block body %}

{% include 'includes/_navbar.html' %}

<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}
</style>

<div class="section" style="padding-top: 200px">
  <div class="container">

            <div class="row">
                <div class="title-area">
                    <h2>About Us</h2>
                    <p class="description">Guardian AI started as a project to provide a portal to individuals especially the student community of India, which provides inoformation about how safe a particular locality/neighborhood is. The project was nicknamed 'your friendly neighborhood ai' as it uses AI techniques on news reportings to calculate safety index of any particular location. The aim of the project is to ensure that people make an informed decision about where they are going to live.</p>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-4" style="width: 100%; padding: 50px;">
                        <div class="card">
                          <img src="{{ url_for('static', filename='images/manmeet.png') }}" alt="Avatar" style="width: 100%; height: auto">
                          <div class="container" style="padding-top: 20px; text-align: center">
                            <h4><b>Manmeet Sethi</b></h4>
                              <p><a href="https://www.linkedin.com/in/manmeet-sethi-52a597162"><i class="fa fa-linkedin-square" style="font-size: 1.90em; padding: 5px; color: black"></i></a><a href="https://github.com/ManmeetSethi"><i class="fa fa-github-square" style="font-size: 1.90em; padding: 5px; color: black"></i></a></p>
                          </div>
                        </div>
                </div>

                <div class="col-lg-4" style="width: 100%; padding: 50px">
                        <div class="card">
                          <img src="{{ url_for('static', filename='images/rajveer.jpeg') }}" alt="Avatar" style="width: 100%; height: auto">
                          <div class="container" style="padding-top: 20px; text-align: center">
                            <h4><b>Rajveer Beerda</b></h4>
                            <p><a href="https://www.linkedin.com/in/rajveer-beerda/"><i class="fa fa-linkedin-square" style="font-size: 1.90em; padding: 5px; color: black"></i></a><a href="https://github.com/rajveerbeerda"><i class="fa fa-github-square" style="font-size: 1.90em; padding: 5px; color: black"></i></a></p>
                          </div>
                        </div>
                </div>

                <div class="col-lg-4" style="width: 100%; padding: 50px">
                        <div class="card">
                          <img src="{{ url_for('static', filename='images/kabir.jpeg') }}" alt="Avatar" style="width: 100%; height: auto">
                          <div class="container" style="padding-top: 20px; text-align: center">
                            <h4><b>Kabir Kohli</b></h4>
                            <p><a href="https://www.linkedin.com/in/kabir-kohli"><i class="fa fa-linkedin-square" style="font-size: 1.90em; padding: 5px; color: black"></i></a><a href="https://github.com/kk2211"><i class="fa fa-github-square" style="font-size: 1.90em; padding: 5px; color: black"></i></a></p>
                          </div>
                        </div>
                </div>

            </div>

  </div>
</div>

{% endblock %}
