{% extends 'layout.html' %}

{% block metatags %}
{#<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />#}
{% endblock %}

{% block title %}Crime Details - {{ location }}{% endblock %}

{% block body %}

<style>
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
    .set-size {
        font-size: 10em;
    }

    .charts-container:after {
        clear: both;
        content: "";
        display: table;
    }

    .pie-wrapper {
        height: 1em;
        width: 1em;
        float: left;
        margin: 15px;
        position: relative;
    }
    .pie-wrapper:nth-child(3n + 1) {
        clear: both;
    }
    .pie-wrapper .pie {
        height: 100%;
        width: 100%;
        clip: rect(0, 1em, 1em, 0.5em);
        left: 0;
        position: absolute;
        top: 0;
    }
    .pie-wrapper .pie .half-circle {
        height: 100%;
        width: 100%;
        border: 0.1em solid #3498db;
        border-radius: 50%;
        clip: rect(0, 0.5em, 1em, 0);
        left: 0;
        position: absolute;
        top: 0;
    }
    .pie-wrapper .label {
        background: #34495e;
        border-radius: 50%;
        bottom: 0.4em;
        color: #ecf0f1;
        cursor: default;
        display: block;
        font-size: 0.25em;
        left: 0.4em;
        line-height: 2.8em;
        position: absolute;
        right: 0.4em;
        text-align: center;
        top: 0.4em;
    }
    .pie-wrapper .label .smaller {
        color: #bdc3c7;
        font-size: 0.45em;
        padding-bottom: 20px;
        vertical-align: super;
    }
    .pie-wrapper .shadow {
        height: 100%;
        width: 100%;
        border: 0.1em solid #bdc3c7;
        border-radius: 50%;
    }
    .pie-wrapper.style-2 .label {
        background: none;
        color: #7f8c8d;
    }
    .pie-wrapper.style-2 .label .smaller {
        color: #bdc3c7;
    }
    .pie-wrapper--solid {
        border-radius: 50%;
        overflow: hidden;
    }
    .pie-wrapper--solid:before {
        border-radius: 0 100% 100% 0 / 50%;
        content: "";
        display: block;
        height: 100%;
        margin-left: 50%;
        -webkit-transform-origin: left;
        transform-origin: left;
    }
    .pie-wrapper--solid .label {
        background: transparent;
    }


    .pie-wrapper.progress-0 .pie {
        clip: rect(auto, auto, auto, auto);
    }
    .pie-wrapper.progress-0 .pie .half-circle {
        border-color: #868686;
    }
    .pie-wrapper.progress-0 .pie .left-side {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    .pie-wrapper.progress-0 .pie .right-side {
        -webkit-transform: rotate({{ 180 }}deg);
        transform: rotate({{ 180 }}deg);
    }

    {% for i in range(1,36) %}
        .pie-wrapper.progress-{{ i }} .pie .half-circle {
            border-color: #FA200A;
        }
        .pie-wrapper.progress-{{ i }} .pie .left-side {
            -webkit-transform: rotate({{ (i/100)*360 }}deg);
            transform: rotate({{ (i/100)*360 }}deg);
        }
        .pie-wrapper.progress-{{ i }} .pie .right-side {
            display: none;
        }
    {% endfor %}

    {% for i in range(36,51) %}
        .pie-wrapper.progress-{{ i }} .pie .half-circle {
            border-color: #FEA602;
        }
        .pie-wrapper.progress-{{ i }} .pie .left-side {
            -webkit-transform: rotate({{ (i/100)*360 }}deg);
            transform: rotate({{ (i/100)*360 }}deg);
        }
        .pie-wrapper.progress-{{ i }} .pie .right-side {
            display: none;
        }
    {% endfor %}

    {% for i in range(51,75) %}
        .pie-wrapper.progress-{{ i }} .pie {
            clip: rect(auto, auto, auto, auto);
        }
        .pie-wrapper.progress-{{ i }} .pie .half-circle {
            border-color: #FEA602;
        }
        .pie-wrapper.progress-{{ i }} .pie .left-side {
            -webkit-transform: rotate({{ (i/100)*360 }}deg);
            transform: rotate({{ (i/100)*360 }}deg);
        }
        .pie-wrapper.progress-{{ i }} .pie .right-side {
            -webkit-transform: rotate({{ 180 }}deg);
            transform: rotate({{ 180 }}deg);
        }
    {% endfor %}

    {% for i in range(75, 101) %}
        .pie-wrapper.progress-{{ i }} .pie {
            clip: rect(auto, auto, auto, auto);
        }
        .pie-wrapper.progress-{{ i }} .pie .half-circle {
            border-color: #18D84D;
        }
        .pie-wrapper.progress-{{ i }} .pie .left-side {
            -webkit-transform: rotate({{ (i/100)*360 }}deg);
            transform: rotate({{ (i/100)*360 }}deg);
        }
        .pie-wrapper.progress-{{ i }} .pie .right-side {
            -webkit-transform: rotate({{ 180 }}deg);
            transform: rotate({{ 180 }}deg);
        }
    {% endfor %}

    .pie-wrapper--solid {
        border-radius: 50%;
        overflow: hidden;
    }
    .pie-wrapper--solid:before {
        border-radius: 0 100% 100% 0 / 50%;
        content: "";
        display: block;
        height: 100%;
        margin-left: 50%;
        -webkit-transform-origin: left;
        transform-origin: left;
    }
    .pie-wrapper--solid .label {
        background: transparent;
    }
</style>

{% include 'includes/_navbar.html' %}

<div class="section" style="padding-top: 100px;">
    <div class="container" style="padding-top: 40px; padding-bottom: 50px">
        <div class="container-fluid">
            <div class="row" style="padding: 50px;  border: 2px solid gray; border-radius: 10px">
                {% if crimes_reported==1 %}
                    <div class="col-lg-6" style="padding-bottom: 50px;">
                        <h3><b>Area at a glance</b></h3>
                    
                        <div style="padding: 10px">
                            <h5>Crime occurring most frequently: {{ most_occ_crime }}</h5>
                            <p>
                                {% if crime_ages>0 %}
                                    No. of Crimes targeting your age-group: {{ crime_ages }}<br>
                                {% endif %}

                                Crimes reported in your area in recent months: {{ crime_count }}<br>

                                {% if crime_ages>0 %}
                                    {% if s!=-1 %} Most frequent crime targeting your age group: {{ s }}<br>
                                    {% endif %}
                                {% endif %}

                                {% if businessman=='Yes' %}
                                    Total businessman targeted: {{ no_businessman }}
                                {% endif %}
                            </p>
                            <br><br>

                            <h4>Safety Index:</h4>

                            <div class="set-size charts-container" style="padding: 10px">
                                <div class="pie-wrapper pie-wrapper--solid progress-{{ si }} style-2">
                                    <span class="label">{{ si }}<span class="smaller">%</span></span>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3><b>Crime reports in {{ location }}</b></h3>
                        <div style="height:460px;width:auto;overflow:auto;padding:10px;">
                            {% for i in range(crime_count) %}
                                <p>
                                    <b>Date:</b> {{ news[0][i] }} <br>
                                    <b>Crime Type:</b> {{ news[2][i][0].upper() + news[2][i][1:] }} <br>
                                    <b>Source:</b> {{ news[3][i] }} <br>
                                    {% if news[4][i]!='na' %}
                                    <a href="{{ news[4][i] }}">{{ news[1][i] }}</a>
                                    {% elif news[4][i]=='na' %}
                                    {{ news[1][i] }}
                                    {% endif %}
                                </p>
                            {% endfor %}
                        </div>
                    </div>

                {% else %}
                    <div class="col-lg-6" style="padding-bottom: 50px;">
                        <h3><b>Area at a glance</b></h3>
                    
                        <div style="padding: 10px">
                            <h4>Safety Index:</h4>

                            <div class="set-size charts-container" style="padding: 10px">
                                <div class="pie-wrapper pie-wrapper--solid progress-0 style-2">
                                    <span class="label">NA<span class="smaller"></span></span>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4>No Crimes have been reported here in past few months, therefore area remains unrated.</h4>
                    </div>    
                {% endif %}
                
            </div>

            <br><br><br><br>

            <div class="row" style="padding: 50px;  border: 2px solid gray; border-radius: 10px; text-align: center">
                <div class="col-lg-3" >
                    <p>
                        <h5>School Density</h5>
                        <div class="set-size charts-container" style="display: inline-block; justify-content: center;">
                            {% if school_r=="A+" %}
                                <div class="pie-wrapper pie-wrapper--solid progress-100 style-2">
                                    <span class="label">{{ school_r }}<span class="smaller"></span></span>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div> 
                                    </div>
                                </div>
                            {% elif school_r=="A" %}
                                <div class="pie-wrapper pie-wrapper--solid progress-80 style-2">
                                    <span class="label">{{ school_r }}<span class="smaller"></span></span>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div>
                                    </div>
                                </div>
                            {% elif school_r=="B" %}
                                <div class="pie-wrapper pie-wrapper--solid progress-65 style-2">
                                    <span class="label">{{ school_r }}<span class="smaller"></span></span>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="pie-wrapper pie-wrapper--solid progress-34 style-2">
                                    <span class="label">{{ school_r }}<span class="smaller"></span></span>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </p>

                </div>
                <div class="col-lg-3">
                    <p>
                        <h5>Hospital Density</h5>
                        <div class="set-size charts-container" style="display: inline-block; justify-content: center;">
                            {% if hospital_r=="A+" %}
                                <div class="pie-wrapper pie-wrapper--solid progress-100 style-2">
                                    <span class="label">{{ hospital_r }}<span class="smaller"></span></span>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div>
                                    </div>
                                </div>
                            {% elif hospital_r=="A" %}
                                <div class="pie-wrapper pie-wrapper--solid progress-80 style-2">
                                    <span class="label">{{ hospital_r }}<span class="smaller"></span></span>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div>
                                    </div>
                                </div>
                            {% elif hospital_r=="B" %}
                                <div class="pie-wrapper pie-wrapper--solid progress-65 style-2">
                                    <span class="label">{{ hospital_r }}<span class="smaller"></span></span>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="pie-wrapper pie-wrapper--solid progress-34 style-2">
                                    <span class="label">{{ hospital_r }}<span class="smaller"></span></span>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </p>

                </div>
                <div class="col-lg-3">
                    <p>
                        <h5>Restaurant Density</h5>
                        <div class="set-size charts-container" style="display: inline-block; justify-content: center;">
                            {% if restaurant_r=="A+" %}
                                <div class="pie-wrapper pie-wrapper--solid progress-100 style-2">
                                    <span class="label">{{ restaurant_r }}<span class="smaller"></span></span>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div>
                                    </div>
                                </div>
                            {% elif restaurant_r=="A" %}
                                <div class="pie-wrapper pie-wrapper--solid progress-80 style-2">
                                    <span class="label">{{ restaurant_r }}<span class="smaller"></span></span>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div>
                                    </div>
                                </div>
                            {% elif restaurant_r=="B" %}
                                <div class="pie-wrapper pie-wrapper--solid progress-65 style-2">
                                    <span class="label">{{ restaurant_r }}<span class="smaller"></span></span>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="pie-wrapper pie-wrapper--solid progress-34 style-2">
                                    <span class="label">{{ restaurant_r }}<span class="smaller"></span></span>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </p>

                </div>
                <div class="col-lg-3">
                    <p>
                        <h5>Park Density</h5>
                        <div class="set-size charts-container" style="display: inline-block; justify-content: center;">
                            {% if park_r=="A+" %}
                                <div class="pie-wrapper pie-wrapper--solid progress-100 style-2">
                                    <span class="label">{{ park_r }}<span class="smaller"></span></span>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div>
                                    </div>
                                </div>
                            {% elif park_r=="A" %}
                                <div class="pie-wrapper pie-wrapper--solid progress-80 style-2">
                                    <span class="label">{{ park_r }}<span class="smaller"></span></span>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div>
                                    </div>
                                </div>
                            {% elif park_r=="B" %}
                                <div class="pie-wrapper pie-wrapper--solid progress-65 style-2">
                                    <span class="label">{{ park_r }}<span class="smaller"></span></span>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="pie-wrapper pie-wrapper--solid progress-34 style-2">
                                    <span class="label">{{ park_r }}<span class="smaller"></span></span>
                                    <div class="pie">
                                        <div class="left-side half-circle"></div>
                                        <div class="right-side half-circle"></div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </p>

                </div>
            </div>
            <br><br><br><br>


            {% if crimes_reported==1 %}

            <div class="row" style="text-align: center; padding: 50px; padding-bottom: 0px; border: 2px solid gray; border-radius: 10px">
                <div style="text-align: center; display: inline; width: 100%"><h3><b>Crime Distribution Charts</b></h3></div>

                    <div class="col-lg-6"  style="display: inline-block; ">

                        <div id="crime_distribution"></div>
                        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                        <script type="text/javascript">
                            google.charts.load('current', {'packages':['corechart']});
                            google.charts.setOnLoadCallback(crimeDistribution);
                            function crimeDistribution() {
                                var data = google.visualization.arrayToDataTable([
                                    ['Crime', 'Count'],
                                    ['Burglary', {{ crimes['burglary'] }}],
                                    ['Robbery', {{ crimes['robbery'] }}],
                                    ['Murder', {{ crimes['murder'] }}],
                                    ['Kidnapping', {{ crimes['kidnapping'] }}],
                                    ['Rape', {{ crimes['rape'] }}]
                                ]);
                                var options = {'title':'Crime Distribution for {{ location }}', 'fontName':'exo', 'width':475, 'height':400, backgroundColor: 'transparent', is3D: true,
                                    legend: {
                                        textStyle: { color: 'black', 'fontName':'exo' }
                                    }, titleTextStyle: {color:'black', },fontSize:'13'};
                                var chart = new google.visualization.PieChart(document.getElementById('crime_distribution'));
                                chart.draw(data, options);
                            }
                        </script>
                    </div>
                    <div class="col-lg-6"  style="display: inline-block; justify-content: center;">
                        <div id="age_crime"></div>
                        <script type="text/javascript">
                            google.charts.load('current', {'packages':['corechart']});
                            google.charts.setOnLoadCallback(ageCrime);
                            function ageCrime() {
                                var data = google.visualization.arrayToDataTable([
                                    ['Age Group', 'Count of Crime'],
                                    ['0-21', {{ age_crimes['0-21'] }}],
                                    ['22-50', {{ age_crimes['22-50'] }}],
                                    ['50+', {{ age_crimes['50+'] }}],
                                    ['NA', {{ age_crimes['NA'] }}]
                                ]);
                                var options = {'title':'Crime Distribution by Age', 'fontName':'exo', 'width':465, 'height':400, backgroundColor: 'transparent', is3D: true,
                                    legend: {
                                        textStyle: { color: 'black', 'fontName':'exo' }
                                    }, titleTextStyle: {color:'black'},fontSize:'13'};
                                var chart = new google.visualization.PieChart(document.getElementById('age_crime'));
                                chart.draw(data, options);
                            }
                        </script>
                    </div>
                </div>
            </div>
            <br><br><br><br>

            <form method="POST">
                <div class="row" style="padding: 50px;  border: 2px solid gray; border-radius: 10px">
                    <div style="text-align: center; display: inline; width: 100%"><h4><b>Search for safer areas nearby your selected location :</b></h4></div>
                    <div class="col-lg-4" style="padding-top: 30px; width: 100%; display: flex; justify-content: center;">
                        <div class="mcp-area">
                            <button style="width: 200px; height: 100%" type="submit" name="distance" value="2.5km">2.5 KM</button>
                        </div>
                    </div>
                    <div class="col-lg-4" style="padding-top: 30px; width: 100%; display: flex; justify-content: center;">
                        <div class="mcp-area">
                            <button style="width: 200px; height: 100%" type="submit" name="distance" value="5km">5 KM</button>
                        </div>
                    </div>
                    <div class="col-lg-4" style="padding-top: 30px; width: 100%; display: flex; justify-content: center;">
                        <div class="mcp-area">
                            <button style="width: 200px; height: 100%" type="submit" name="distance" value="10km">10 KM</button>
                        </div>
                    </div>
                </div>
            </form>
            {% endif %}

            
        </div>

    </div>
</div>

{% endblock %}

